* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

iframe {
    max-width: 400px;
}

.link-project {
    margin: 0 auto !important;
}

.navbar {
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: .1rem;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-brand img {
    width: 50px;
}

.navbar-nav {
    font-weight: 500;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .navbar-link {
    color: white;
    padding-top: .8rem;
    font-size: 2.0rem;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .8s;
}

.navbar-light .navbar-nav .nav-link:hover:after {
    width: 100%;
    background: #017a6b;
}

.carousel-item {
    height: calc(100vh - 83px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-1 {
    background-image: url("../images/cs1.jpg");
}

.img-2 {
    background-image: url("../images/cs2.jpg");
}

.img-3 {
    background-image: url("../images/cs3.jpg");
}

main {
    width: 100%;
    height:auto;
}

.col-portafolio {
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 20px;
    background-color: #1f1f1f;
    color: white;
}

.btn:hover {
    background-color: #017a6b;
    color: white;
    transition: all .7s ease-out;
}

.project-link:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .8s;
}

.project-link:hover:after {
    width: 100%;
    background: #017a6b;
}

.team i {
    font-size: 26px;
    color: #1f1f1f;
}

.team .card {
    margin-bottom: 40px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
}

.works-item {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .3);
}

.team .card img {
    width: 100%;
    transition: .4s;
}

footer {
    overflow: hidden;
}

.content-body ul li {
    font-weight: 500;
}

.bx {
    font-size: 30px;
    padding: 10px;
    color: #1f1f1f;
    transition: all .7s ease-out;
}

.facebook:hover {
    color: #4267b2;
}

.twitter:hover {
    color: #1DA1F2;
}

.instagram:hover {
    color: #E1306C;
}

.tiktok:hover {
    color: #ec51a3;
}

.card {
    width: 100%;
    border-radius: 50%;
}

.galeria img {
    object-fit: cover;
}

.imagen_slider {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.item {
    transition: .5s ease-in-out;   
}

.item:hover {
    filter: brightness(80%);
}

.galeria img {
    box-shadow: 0 8px 10px -4px rgba(0,0,0,.6);
    border-radius: 15px;
}

.materialbox-caption {
    bottom: 30px;
    right: 0;
    width: 40%;
    height: auto;
    padding: 10px;
    margin: auto;
    background: #000;
    box-shadow: 5px 5px #fff;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
}

.galeria .col {
    margin-bottom: 20px;
}

@media screen and (max-width: 600px){
    .materialbox-caption {
         width: 90%;
    }
}

@media screen and (max-width: 992px){
    .materialbox-caption {
         width: 70%;
    }
}

@media screen and (max-width: 991px) {
    .navbar-light .navbar-nav .nav-link:after {
        content: "";
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        transition: all .8s;
    }
    
    .navbar-light .navbar-nav .nav-link:hover:after {
        width: 100px;
        background: #017a6b;
    }

    .section-title {
        margin-bottom: 30px;
    }

    .contact-form {
        margin-top: 30px;
    }

    .about-text > .content-body {
        margin-top: 50px;
    }    

    .about-logo {
        margin-top: 40px;
    }

    .container-title {
        width: 80% !important
    }
}